.article {
    border: 1px solid #ccc;
    padding: 20px;
    min-height: 120px;
}
.item {
    width: 120px;
    height: 120px;
    float: left;
    position: relative;
    margin: 10px;
}
.item .contentp{
    position: absolute;
    bottom: 10px;
    width: 120px;
    text-align: center;
}
.addImg {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
}
.preview,.preBlock{
    position: absolute;
    display: block;
    width: 120px;
    height: 120px;
    left: 0;
    top: 0;
}
.delete {
    width: 20px;
    position: absolute;
    right: -20px;
    top: -10px;
    cursor: pointer;
    display: none;
}
.preBlock img {
    display: block;
    width: 120px;
    height: 120px;
}
.upload_input{
    display: block;
    width: 0;
    height: 0;
    -webkit-opacity: 0.0;
    /* Netscape and Older than Firefox 0.9 */
    -moz-opacity: 0.0;
    /* Safari 1.x (pre WebKit!) 老式khtml内核的Safari浏览器*/
    -khtml-opacity: 0.0;
    /* IE9 + etc...modern browsers */
    opacity: .0;
    /* IE 4-9 */
    filter:alpha(opacity=0);
    /*This works in IE 8 & 9 too*/
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /*IE4-IE9*/
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}